# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
src-tauri/target
src-tauri/gen/schemas

# Rust/Cargo
**/*.dSYM/
src-tauri/resources/models/**/*.bin
src-tauri/resources/models/**/*.mlmodelc/weights/*
src-tauri/resources/models/**/*.mlmodelc/analytics/*
src-tauri/resources/models/**/*.mlmodelc/coremldata.bin

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.vscode
*.md
.venv